body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(147, 69, 221);
    background: linear-gradient(90deg, rgb(119, 0, 255), rgb(255, 0, 221), pink);
}
.registro {
    background-color: whitesmoke;
    border-radius: 15px;
    text-align: center;
    width: 30%;
    padding: 5%;
    margin: 20px auto;
    min-width: 250px;
}
.inline {
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 5px;
    height: 20px;
}
.btn {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 50%;
    height: 50px;
    background: linear-gradient(90deg, rgb(189, 2, 247) 0%, rgb(167, 41, 160) 35%, rgb(233, 20, 126) 100%);
    border-radius: 15px;
}
.btn:hover {
    box-shadow: 5px 3px 7px;
    font-size: 85%;
}
.btn:active {
    background: blue;
    color: white;
}
:placeholder-shown{
    text-align: center;
    font-style: italic;
}