body {
    background: linear-gradient(90deg, rgb(119, 0, 255), rgb(255, 0, 221), pink);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.781);
    position: fixed;
    margin-top: 7%;
    padding-left: 2%;
    padding-right: 2%;
    height: 60px;
    border-radius: 15px;
}
.navbar-brand {
    display: flex;
    text-decoration: none;
    color: whitesmoke;
}
.navbar-brand:hover {
    color: blue;
}
section {
    margin: 5%;
    margin-top: 10%;
    padding: 2% ;
    border-radius: 15px; 
    color: white;
    background-color: rgba(0, 0, 0, 0.685);
}
.text {
    margin-left: 3%;
}